<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <title><%= require('./../../index/block_tpl/_title.php') %></title>
    <%= require('./../../index/block_tpl/_meta.php') %>
    <script><%= require('raw-loader!./../../../tool/mobileUtil') %></script>
    <%= require('./../../index/block_tpl/_config.php') %>
</head>
<body>
<script>
    window.blogid = "<?php echo $id?$id:$_GET['id'];?>";
</script>
<div id="app"></div>
</body>
<%= require('./../../index/block_tpl/_baidu_count.php') %>
</html>