<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset='utf-8'/>
    <title><%= require('./_title.php') %></title>
    <%= require('./_meta.php') %>
    <%= require('./_viewport.ejs')() %>
    <script><%= require('raw-loader!./../../../inline/flexible') %></script>
    <%= require('./_config.php') %>
</head>
<body>
<div id="app"></div>
<script src="http://cdn.jiguo.com/static@2.0/permanent/jquery/jquery-3.2.1/dist/jquery.min.js"></script>
<script src="http://cdn.jiguo.com/static@2.0/permanent/vuejs/vue-2.5.3/dist/vue.min.js"></script>
<script src="http://cdn.jiguo.com/static@2.0/permanent/vuex/vuex-3.0.0/dist/vuex.min.js"></script>
<script src="http://cdn.jiguo.com/static@2.0/permanent/vue-router/vue-router-3.0.1/dist/vue-router.min.js"></script>
</body>
<%= require('./_baidu_count.php') %>
</html>